<% layout('layouts/boilerplate')%>
<div class="row">
  <h1 class="text-center">List Product</h1>
  <div class="col-md-6 offset-md-3">
    <form
      action="/implements"
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
      autocomplete="off"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Name of the Item</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="implement[title]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="Contact">Contact Number</label>
        <input
          class="form-control"
          type="number"
          id="Contact"
          name="implement[Contact]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      <div class="mb-3">
        <label class="form-label" for="webmail">Outlook ID</label>
        <input
          class="form-control"
          type="text"
          id="webmail"
          autocomplete="off"
          name="implement[webmail]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Hostel Address</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="implement[location]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="price">Expected Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">₹</span>
          <input
            type="text"
            class="form-control"
            id="price"
            placeholder="0.00"
            aria-label="price"
            aria-describedby="price-label"
            name="implement[price]"
            required
          />
        </div>
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="implement[description]"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <div class="form-file custom-file">
          <input
            type="file"
            class="form-file-input"
            id="image"
            name="image"
            multiple
          />
          <label class="form-file-label" for="image">
            <span class="form-file-text custom-file-label"
              >Choose image(s)...</span
            >
            <span class="form-file-button">Browse</span>
          </label>
        </div>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Add Product</button>
      </div>
    </form>
  </div>
</div>
